<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Other existing entries -->
    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to scan QR codes</string>
    <!-- Add this if you need to use the flash -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs photos access to get QR code from photo library</string>
</dict>
</plist>